vocab_tree_flickr100K_words32K.bin
runs/
pipeline_test.sh
utils/model-assets/
utils/cloud-processing/matlab_specific/
utils/cloud-processing/pointclouds/
utils/cloud-processing/ready_clouds/
utils/cloud-processing/results/
utils/cloud-processing/info/
utils/object-detection/*
!utils/object-detection/detect_object.ipynb
utils/pipeline/__pycache__
utils/pipeline/yolov8s-seg-co3d.pt
app/lib/assets/