vocab_tree_flickr100K_words32K.bin
runs/
runs-save/
runs-data/videos/*.mp4
runs-data/options/*.json
**/__pycache__/
pipeline_test.sh
utils/model-assets/
utils/cloud-processing/matlab_specific/
utils/cloud-processing/pointclouds/
utils/cloud-processing/ready_clouds/
utils/cloud-processing/results/
utils/cloud-processing/info/
utils/object-detection/*
!utils/object-detection/detect_object.ipynb
utils/pipeline/yolov8s-seg-co3d.pt